<header class="header">
  <div class="contnav">
    <!-- ####################### Logo #########################-->

    <div class="float-left logo">
      <a href="#">
        <img src="../../assets/img/logo.png" width="140px" alt=""></a>
    </div>

    <!-- ####################### Telefono #########################-->
    <div class="d-flex justify-content-end pt-3">
      <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <span class="glyphicon glyphicon-phone text-right"><img src="../../assets/img/local_phone.png"></span><strong
          class="phone">936.760.7800</strong>
      </nav>
    </div>

    <!-- ####################### Navegacion #########################-->
    <div class="d-flex justify-content-end">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">BLOG</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">AGENTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">OUR LISTINGS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">BUY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">SELL</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">AGENTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">NEIGHBORDHOODS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">CONTACT</a>
            </li>
          </ul>

        </div>
      </nav>
    </div>

    <!-- ####################### Fin#########################-->
  </div>

  <!-- ####################### Formulario #########################-->
  <div class="d-flex flex-column justify-content-center formulario">
    <div class="phone d-flex justify-content-center"><strong>PROPERTIY SEARCH</strong></div>

    <div class=" p-2 ">
      <form class="" method="get" action="">
        <div class="form-row justify-content-center">
          <div class="col-xs-1 col-md-2">
            <select class="custom-select  d-block bg-dark text-light">
              <option value="">Property Type</option>
              <option value="">Vacant Land </option>
              <option value="">Residential Properties</option>
              <option value="">Commercial Properties </option>
            </select>
          </div>
          <div class="col-xs-1 col-md-2">
            <select class="custom-select  d-block bg-dark text-light">
              <option value="">City</option>
              <option value="">New York </option>
              <option value="">Boston</option>
              <option value="">Detroit </option>
            </select>
          </div>
          <div class="col-xs-1">
            <input class="form-control bg-dark text-light" type="text" placeholder="Max Price">
          </div>

          <div class="col-xs-1">

            <input class="form-control bg-dark text-light" type="text" placeholder="Min Price">
          </div>
        </div>
      </form>

    </div>

  </div>
</header>