<!--################### PRIMERA PARTE ################-->

<div class="row mt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 mb-5">
                <div class="card">
                    <div class="card-body">
                        FINANCE YOUR
                    </div>
                    <div class="card-footer">
                        <form class="form-inline my-2 my-lg-0">

                            <button class="btn btn-outline-warning w-100" type="submit">Dream Home in the Wood</button>
                        </form>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-5">
                <div class="card">
                    <div class="card-body">
                        THE SECRET
                    </div>
                    <div class="card-footer">
                        <form class="form-inline my-2 my-lg-0">

                            <button class="btn btn-outline-warning w-100" type="submit">To selling Your Home</button>
                        </form>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 mb-5">
                <div class="card">
                    <div class="card-body">
                        WHAT IS
                    </div>
                    <div class="card-footer">
                        <form class="form-inline my-2 my-lg-0">

                            <button class="btn btn-outline-warning w-100" type="submit">My Home Work</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 mb-5">
                <div class="card">
                    <div class="card-body">
                        NEW
                    </div>
                    <div class="card-footer">
                        <form class="form-inline my-2 my-lg-0">

                            <button class="btn btn-outline-warning w-100" type="submit">Construction</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<!--################### FEATURED NEIGHBORHOODS ################-->
<div class="row fodo mt-5 ">
    <div class="container pt-5 pb-5">

        <div class="row ">
            <div class="col-12 d-flex justify-content-center mb-5">
                <h5><strong>FEATURED NEIGHBORHOODS</strong> </h5>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 mt-3">
                <div class="d-flex justify-content-center imagen1">
                    <div
                        class="d-flex justify-content-center align-items-end align-self-end text-light colorcaja h-25 w-100">
                        <!-- <p class="d-flex justify-content-center align-items-end text-light colorcaja">Texto 1</p>-->
                        <p>THE WOODLAND</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 mt-5">
                <div class="d-flex justify-content-center imagen2">
                    <div
                        class="d-flex justify-content-center align-items-end align-self-end text-light colorcaja h-25 w-100">
                        <!-- <p class="d-flex justify-content-center align-items-end text-light colorcaja">Texto 1</p>-->
                        <p>SPRING</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mt-3">
                <div class="d-flex justify-content-center imagen3">
                    <div
                        class="d-flex justify-content-center align-items-end align-self-end text-light colorcaja h-25 w-100">
                        <!-- <p class="d-flex justify-content-center align-items-end text-light colorcaja">Texto 1</p>-->
                        <p>MAGNOLIA</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mt-5">
                <div class="d-flex justify-content-center imagen4">
                    <div
                        class="d-flex justify-content-center align-items-end align-self-end text-light colorcaja h-25 w-100">
                        <!-- <p class="d-flex justify-content-center align-items-end text-light colorcaja">Texto 1</p>-->
                        <p>MONTGOMERY</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-3 mt-3">
                <div class="d-flex justify-content-center imagen5">
                    <div
                        class="d-flex justify-content-center align-items-end align-self-end text-light colorcaja h-25 w-100">
                        <!-- <p class="d-flex justify-content-center align-items-end text-light colorcaja">Texto 1</p>-->
                        <p>LAKE CONROE</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mt-5">
                <div class="d-flex justify-content-center imagen6">
                    <div
                        class="d-flex justify-content-center align-items-end align-self-end text-light colorcaja h-25 w-100">
                        <!-- <p class="d-flex justify-content-center align-items-end text-light colorcaja">Texto 1</p>-->
                        <p>KINGWOOD</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mt-3">
                <div class="d-flex justify-content-center imagen7">
                    <div
                        class="d-flex justify-content-center align-items-end align-self-end text-light colorcaja h-25 w-100">
                        <!-- <p class="d-flex justify-content-center align-items-end text-light colorcaja">Texto 1</p>-->
                        <p>VILLIS</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mt-5">
                <div class="d-flex justify-content-center imagen8">
                    <div
                        class="d-flex justify-content-center align-items-end align-self-end text-light colorcaja h-25 w-100">
                        <!-- <p class="d-flex justify-content-center align-items-end text-light colorcaja">Texto 1</p>-->
                        <p>CONROE</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<!--################### FEATURED PROPERTIES ################-->
<div class="row mt-5">
    <div class="container pt-5">
        <div class="row pb-5">
            <div class="col-12 d-flex justify-content-center">
                <h5><strong>FEATURED PROPERTIES</strong> </h5>
            </div>
        </div>
        
        <!---->
        <div class="row">
        <div class="col-md-6 pb-3">
            <div class="card  w-100">
                <div class="row no-gutters">
                    <div class="col-6">
                        <img src="../../assets/img/cp1.jpg" class="card-img h-100 w-100" alt="...">
                    </div>
                    <div class="col-6">
                        <div class="card-body mt-4">
                            <h5 class="card-title pb-3"><strong>$ 1,340,230</strong> </h5>
                            <span class="card-text text-muted">Vitae Toronto Suite CO</span>
                            <p class="card-text text-muted">Segundo CA</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---->
        <div class="col-md-6 ">
                <div class="card  w-100 bg-dark text-light">
                    <div class="row no-gutters">
                        <div class="col-6">
                            <img src="../../assets/img/ca1.jpg" class="card-img h-100 w-100" alt="...">
                        </div>
                        <div class="col-6">
                            <div class="card-body mt-4">
                                <h5 class="card-title pb-3 phone"><strong>$ 1,340,230</strong> </h5>
                                <span class="card-text">Vitae Toronto Suite CO</span>
                                <p class="card-text">Segundo CA</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>