<div class="row footer mt-5">
    <div class="footer1 w-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mt-4 text-white">
                        <div class="card-body">
                            <h4 class="phone mb-5"> <strong>LATEST BLOG</strong></h4>
                        </div>

                        <div class="card-body border-top" *ngFor='let latestblog of latestblogs'>
                            <span class="{{ latestblog.class }}">{{ latestblog.name }}</span>
                            <p class="small">{{ latestblog.description }} </p>
                        </div>

                        <div class="card-body border-top">
                            <p style="font-size: smaller"> {{ name }} </p>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6 col mt-5 mb-5">
                    <div class="card border text-white">
                        <div class="card-body ">
                            <h4> <strong>WEICHER, REALTORS</strong></h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <div class="row">
                                <div class="col">
                                    <span>Phone</span>
                                    <p class="phone">(281)809-0089</p>
                                </div>
                                <div class="col">
                                    <span>Address</span>
                                    <p class="phone">3875 West Davis St Sulte 510</p>
                                    <span class="phone">Conroe, TX 77304</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer border-top  text-right">
                            <span>
                                <h1> Weichert</h1>
                            </span>
                            <h2>Realtors</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--##############################################-->
    <div class="footer2 w-100 small">
        <div class="container mt-4">
            <span class="mt-5" *ngFor='let menu of menus'> {{ menu.name }} |</span>
            <p>Copyright &copy; 2019 - {{ name }}</p>
        </div>
    </div>



</div>